/*배경*/
body {
    background-color: #E8E8E8;
}
*{padding:0;margin:0}
li{list-style:none}
a{
    outline: none;
    text-decoration:none;
    color: inherit; /* 링크의 색상 제거 */
    transition: 0.3s;
    cursor: pointer;
}
a:hover, a:active {
    color: #f74843;
    transition: 0.3s;
}

/*top bar*/
.top_bar {
    top: 0;
    width: 96%;
    z-index: 50;
}

.top_a {
    margin-left: 50px;
    font-size: 30pt;
    font-weight: 900;
}

.current_site {
    border-bottom: black solid 3pt;
}

.page_head {
    list-style: none;
}

.site_img {
    width: 98%;
    height: auto;
    padding-inline: 3%;
    padding-block: 5px;
    background-color: rgba(245, 245, 245, 0.5);
    cursor: pointer;
}

/*검색박스*/
.search-container {
    padding: 15px;
    margin-left: auto;
    margin-right: 15px;
    width: 215px;
    height: 20px;
    display: flex;
    margin-top: 20px;
    transition: 1s;
}
#searchBox {
    font-size: 13pt;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    color: gray;
    border-bottom: gray 1px solid;
}
#searchBox:focus {
    outline: none;
}
.search-container:has(#searchBox:focus)
{
    transition: 0.5s;
    background-color: whitesmoke;
}

.highlight {
    background-color: greenyellow; /*변경되어야함*/
}
.search_icon {
    border-radius: 15px;
    background-color: gray;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    padding: 5px;
    cursor: pointer;
}

/*페이지 구간 v */

/*메인*/
.main {
    background-color: rgb(255,255,255,1);
    padding-block: 15px;
    padding-inline: 10px;
    font-size: 13pt;
    width: 95.5%;
    line-height: 25px;
}

.page_index {
    font-size: 15pt;
    line-height: 35px;
    font-weight: bold;
}

.img {
    padding-inline: 5%;
    padding-block: 30px;
}

.top_pic {
    width: 100%;
}

/*기능*/
.ontop {
    width: 50px;
    height: 35px;
    top: 90%;
    right: 3%;
    position: fixed;
    background-color: rgb(0, 0, 0,0.1);
    text-align:center;
    padding-top: 15px;
    font-weight: 900;
    border: 1pt dotted rgb(0, 0, 0,0.1);
    border-radius: 10px;

}
.ontop > a {
    color: white;
}

/*하단의 contact 및 배너---------------------------*/
footer {
    width: 100%;
    background-color: whitesmoke;
    height: 400px;
    font-size: 11pt;
    font-weight: 900;
}

footer > ul {
    color: #f74843;
    display: inline;
}

.banner {
    margin-top: 30px;
    margin-left: 65px;
}

.banner_1 {
    padding-top: 50px;
    width: 255px;
    height: 100px;
    text-align: left;
    font-size: 20pt;
    font-weight: 250;
}
.banner_1 > img {
    width: 100%;
}

.banner > li > p {
    font-size: 20pt;
    color: #f74843;
}

.banner > li {
    list-style: none;
    color: black;
}