/*포함-------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/*전역 설정-------------------------*/
.background {
    top: 0;
    left: 0;
    background-image: url('https://cdn.pixabay.com/photo/2016/11/20/08/34/buildings-1842205_1280.jpg');
    filter: blur(4px) brightness(80%);
    position: fixed;
    z-index: -50; /*후순위 배치*/
    transition: 1s;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none; /* 링크의 밑줄 제거 */  
    color: inherit; /* 링크의 색상 제거 */
    transition: 0.3s;
}

a:hover, a:active {
    color: white;
    transition: 0.3s;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Noto Sans Korean", system, sans-serif;
}



/*상단-------------------------*/

.page_head {
    width: 100%;
}

.page_head > li > img {
    width: 90%;
    background-color: #f74843;
    padding: 5%;
}

/*검색박스*/
.search-container {
    background-color: #f74843;
    width: 91.5%;
    height: 25px;
    display: flex;
    padding: 20px;
}
#searchBox {
    margin-left: auto;
    margin-right: 15px;
    font-size: 18pt;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    color: white;
    border-bottom: #ffffff 2px solid;
}
#searchBox:focus {
    outline: none;
}
.highlight {
    background-color: greenyellow; /*변경되어야함*/
}
.search_icon {
    margin-left: 10px;
    cursor: pointer;
}

/*소개란---------------------------*/
.introduction {
    margin-left: 50px;
}


.introduction > .information {
    width: 90%;
    height: 100px;
    color: whitesmoke;
}

.information > p {
    background-color: #f74843;
    padding: 5px;
}

.introduction > li > img{
    width: 150px;
    height: 160px;
}

.information > img {
    padding: 10px;
    border-bottom: 3px white solid;
}


/*메뉴--------------------------------*/

span > a {
    transition: 1s;
    margin-left: 50px;
}

span > a > img:hover {
    background-color: lightgray;
    transition: 0.5s;
}

span > a > img {
    width: auto;
    height: 100px;
    border-radius: 10px;
    margin-block: 5px;
}

.title {
    font-size: 50pt;
    color: #f74843;
    font-weight: 900;
}

.title > a {
    margin-left: 50px;
}

.menu {
    margin-top: 60%;
    margin-bottom: 100px;
}

/* a 태그에 마우스를 올렸을 때의 스타일 설정 */
a.toggleButton:hover {
    color: white; /* 배경색 변경 */
}

/* 컨텐츠의 기본 스타일 설정 */
.title_content {
    height: 0; /* 기본적으로 컨텐츠를 숨김 */
    overflow: hidden;
    background-color: white;
    transition: 1s;
}

/* 'active' 클래스가 적용된 컨텐츠의 스타일 설정 */
.title.active .title_content {
    height: auto; /* 'active' 클래스가 적용된 경우 컨텐츠를 표시 */
    transition: 1s;
}


/*하단의 contact 및 배너---------------------------*/
footer {
    width: 100%;
    background-color: #f74843;
    height: 400px;
    font-size: 11pt;
    font-weight: 900;
}

footer > ul {
    color: white;
    display: inline;
}

.banner {
    margin-top: 30px;
    margin-left: 65px;
}

.banner_1 {
    padding-top: 50px;
    width: 255px;
    height: 100px;
    text-align: left;
    font-size: 20pt;
    font-weight: 250;
}    
.banner_1 > img {
    width: 100%;
}

.banner > li > p {
    font-size: 20pt;
    color: white;
}

.banner > li {
    list-style: none;
    color: black;
}
