/*포함-------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/*전역 설정-------------------------*/
*{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
    transition: 0.3s;
}
a:hover, a:active {
    color: #f74843;
    transition: 0.3s;
    cursor: pointer;
}

/*top bar*/
.top_bar {
    top: 0;
    width: 96%;
    z-index: 50;
}

.top_a {
    margin-left: 50px;
    font-size: 30pt;
    font-weight: 900;
}

.current_site {
    border-bottom: black solid 3pt;
}

.page_head {
    list-style: none;
}

.site_img {
    width: 100%;
    height: auto;
    padding-inline: 3%;
    padding-block: 1px;
    background-color: rgba(245, 245, 245, 0.5);
    cursor: pointer;
}

/*메인 -----------*/
section {
    font-family: Arial, sans-serif;
    padding: 50px;
}
textarea {
    outline: none;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 12pt;
    resize: none;
}

header > input[type="text"] {
    width: 300px;
    height: 20px;
    padding: 10px;
    font-size: 13px;
    outline: none;
    margin-bottom: 5px;
}
header > button {
    cursor: pointer;
}

header {
    display: flex;
}

.tool_btn {
    border-radius: 5px;
    border: none;
    width: 50%;
    margin-inline: 3px;
    height: 42px;
    background-color: whitesmoke;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 100%;
    overflow: hidden;
}

.tool_btn > input {
    font-size: 100%
}

.tool_pt {
    height: 42px;
}

#pt_changer {
    height: 42px;
    background-color: whitesmoke;
    border: none;
    outline: none;
}

/*하단의 contact 및 배너---------------------------*/
footer {
    width: 100%;
    background-color: whitesmoke;
    height: 400px;
    font-size: 11pt;
    font-weight: 900;
}

footer > ul {
    color: #f74843;
    display: inline;
}

.banner {
    margin-top: 30px;
    margin-left: 65px;
}

.banner_1 {
    padding-top: 50px;
    width: 255px;
    height: 100px;
    text-align: left;
    font-size: 20pt;
    font-weight: 250;
}
.banner_1 > img {
    width: 100%;
}

.banner > li > p {
    font-size: 20pt;
    color: #f74843;
}

.banner > li {
    list-style: none;
    color: black;
}
