/*포함-------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/*전역 설정-------------------------*/
.background {
    top: 0px;
    background-image: url(https://github.com/Gangjisu/TermProject/blob/main/assets/travel_picture/picture_kyoto_2.jpg?raw=true);
    background-size: cover;
    position: fixed;
    z-index: -50; /*후순위 배치*/
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none; /* 링크의 밑줄 제거 */  
    color: inherit; /* 링크의 색상 제거 */
    transition: 0.3s;
}

a:hover, a:active {
    color: white;
    transition: 0.3s;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Noto Sans Korean", system, sans-serif;
}



/*상단-------------------------*/

.page_head {
    display: flex;
    margin-top: 50px;
}

.page_head > li > img {
    width: 200px;
    margin-left: 50px;
    background-color: #f74843;
    padding: 15px;
}

/*검색박스*/

#search-input {
    font-size: 13pt;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    color: white;
    border-bottom: #ffffff 1px solid;
}
#search-input:focus {
    outline: none;
}

#search-button {
    background-color: rgb(255, 255, 255, 0);
    border: 1px solid rgb(255, 255, 255, 0);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    padding-top: 2px;
}

#search-button:hover{
    background-color: rgb(169, 169, 169, 0.5);
}

#search-button:active{
    background-color: rgb(0, 0, 0, 0.5);
}

.highlight {
    background-color: yellow;
}

/*소개란---------------------------*/
.introduction {
    margin-left: 50px;
}

.introduction > li {
    display: flex;
}

.introduction > .infomation {
    width: 500px;
    height: 100px;
    border: 1px solid;
    color: white;
}

.introduction > li > img{
    width: 150px;
    height: 160px;
}


/*메뉴--------------------------------*/

.title {
    font-size: 50pt;
    color: #f74843;
    font-weight: 900;
}

.title > a {
    margin-left: 50px;
}

.menu {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* a 태그에 마우스를 올렸을 때의 스타일 설정 */
a.toggleButton:hover {
    color: white; /* 배경색 변경 */
}

/* 컨텐츠의 기본 스타일 설정 */
.title_content {
    height: 0px; /* 기본적으로 컨텐츠를 숨김 */
    overflow: hidden;
    background-color: white;
    transition: 1s;
}

/* 'active' 클래스가 적용된 컨텐츠의 스타일 설정 */
.title.active .title_content {
    height: 100px; /* 'active' 클래스가 적용된 경우 컨텐츠를 표시 */
    transition: 1s;
}


/*하단의 contact 및 배너---------------------------*/
footer {
    background-color: #f74843;
    height: 250px;
    font-size: 11pt;
    font-weight: 900;
}

footer > ul {
    color: white;
    display: flex;
}

.banner {
    margin-top: 80px;
    margin-left: 65px;
}

.banner_1 {
    
    width: 255px;
    height: 100px;
    text-align: left;
    font-size: 20;
    font-weight: 250;
}    
.banner_1 > img {
    width: 250px;
}

.banner_4 {
    width: 215px;
    margin-left: auto;
    margin-right: 50px; 
}



.banner > li > p {
    font-size: 20pt;
    color: white;
}

.banner > li {
    list-style: none;
    color: black;
}
